<h4>Merge Articles</h4>
<div class='class'>
    <label for='merge_with'>Article ID</label>
    <%= text_field_tag 'merge_with'%> 
</div>
<div class='class'>
    <%= submit_tag "Merge With This Article" %>
</div>
